@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --base-font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--base-font-size);
  font-family: var(--font-public), sans-serif;
  /* Smooth transition for theme switching */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

h1 {
  font-family: var(--font-cormorant), serif;
  font-weight: bold;
}

h2 {
  font-family: var(--font-source-sans), sans-serif;
  font-style: italic;
}

p {
  font-family: var(--font-source-sans), sans-serif;
}

input {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  transition: border-color 0.3s ease;
  text-align: start;
  align-items: start;
}

button {
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #c8a75a;
}
